@import url("https://fonts.googleapis.com/css2?family=Days+One&display=swap");
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.header {
  padding-top: 20px;
}

.header .language__img img {
  width: 30px;
  height: 20px;
  margin-right: 2px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.header-top .wrapper-l {
  display: flex;
  align-items: flex-start;
}

.header-top .wrapper-l .logo-desc {
  padding-left: 20px;
  margin-left: 10px;
  margin-top: 10px;
  position: relative;
  border-left: 10px solid #754C24;
}

.header-top .wrapper-l .logo-desc h1 {
  margin-bottom: 5px;
  margin-top: -5px;
  font-weight: 800;
  line-height: 32px;
}

.header-top .wrapper-l .logo-desc p {
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 19px;
  font-weight: bold;
}

.header-bottom {
  background-color: #000;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
}

.header-bottom .container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header-bottom .container .main-links {
  color: #fff;
  font-family: cursive;
  font-weight: 700;
  color: #fff;
  font-family: cursive;
  font-weight: 700;
  padding: 15px 0;
  font-size: 1.6vw;
  text-decoration: none;
}

.header-bottom .container .main-links:hover {
  color: #C69C4A;
}

.header-bottom .container .main-links.active {
  color: #C69C4A;
}

@media (max-width: 780px) {
  .header-top .wrapper-l .logo-desc h1 {
    font-size: 5.3vw;
  }
  .header-top {
    justify-content: center;
  }
}

.intro {
  text-align: center;
}

.intro-title1 {
  color: #000;
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 0;
  margin-top: 10px;
}

.intro-title2 {
  color: #C69C6D;
  font-size: 48px;
  line-height: 58px;
  margin-top: 0;
  margin-bottom: 5px;
}

.intro .wrapper-sl {
  width: 70%;
  margin: 0 auto;
  display: flex;
  color: #fff;
  background-color: #C69C6D;
  margin-bottom: 50px;
}

.intro .wrapper-sl .slider {
  width: 50%;
  position: relative;
}

.intro .wrapper-sl .slider_item img {
  width: 100%;
  height: 100%;
}

.intro .wrapper-sl .slider .slick-list {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.intro .wrapper-sl .slider .slick-list .slick-track {
  height: 100%;
  display: flex;
}

.intro .wrapper-sl .slider .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background-color: transparent;
  color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  outline: none;
  width: 20px;
  height: 40px;
}

.intro .wrapper-sl .slider .slick-arrow.slick-prev {
  left: 0;
  background-image: url("../img/sl-arrow_r.png");
}

.intro .wrapper-sl .slider .slick-arrow.slick-next {
  right: 0;
  background-image: url("../img/sl-arrow_l.png");
}

.intro .wrapper-sl .slider .slick-arrow:active {
  filter: brightness(0.8);
}

.intro .wrapper-sl .slider .slick-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  padding-left: 0;
  list-style-type: none;
}

.intro .wrapper-sl .slider .slick-dots li button, .intro .wrapper-sl .slider .slick-dots li button:focus {
  background-color: fff;
  color: transparent;
  border-radius: 100%;
  border: 2px solid #C69C6D;
  padding: 4px;
  font-size: 0;
  margin: 0 10px;
  transition: 0.3s;
  outline: none;
  cursor: pointer;
}

.intro .wrapper-sl .slider .slick-dots li button:hover, .intro .wrapper-sl .slider .slick-dots li button:focus:hover {
  background-color: #C69C6D;
}

.intro .wrapper-sl .slider .slick-dots .slick-active button {
  background-color: #C69C6D;
}

.intro .wrapper-sl .wrapper-sl-desc {
  width: 50%;
  height: 100%;
}

.intro .wrapper-sl .wrapper-sl-desc .desc {
  font-size: 1.5vw;
  font-weight: 600;
  padding: 0 10px;
  margin: 0;
  height: 100%;
}

.intro .wrapper-b {
  display: flex;
  justify-content: center;
}

.intro .wrapper-b .wrapper-buttons, .intro .wrapper-b .wrapper-buttons:focus {
  background-color: #C69C6D;
  color: #fff;
  font-size: 2.4vw;
  border: none;
  outline: none;
  border-radius: 30px;
  padding: 5px 70px;
  margin: 0 20px;
  cursor: pointer;
  transition: .2s;
}

.intro .wrapper-b .wrapper-buttons:hover, .intro .wrapper-b .wrapper-buttons:focus:hover {
  background-color: #ddaf7a;
}

.footer {
  background-color: #271713;
  padding: 24px 0;
  text-align: center;
  margin-top: 50px;
}

.footer .container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.about-us {
  width: initial;
}

.quick-links {
  width: 300px;
}

.find-us {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.find-us .footer-container-title {
  margin-bottom: 17px;
  color: #D1C5B7;
}

.footer-container-title {
  color: #D1C5B7;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px;
}

.footer-container-desc {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 28px;
  line-height: 30px;
  margin: 1px 0;
  display: flex;
  align-items: center;
}

.display-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-logo {
  width: 150px;
  height: 75px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.f-img-container {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 8px;
  margin-bottom: 16px;
  padding: 3px;
  background-repeat: no-repeat;
  background-size: cover;
}

a, a:visited, a:active, a:hover {
  text-decoration: none;
}

.f-img-container:nth-of-type(1) {
  background-image: url(../img/fb.png);
}

.f-img-container:nth-of-type(2) {
  background-image: url(../img/inst.png);
}

.f-img-container:nth-of-type(3) {
  background-image: url(../img/yutb.png);
}

.footer-container-desc span {
  padding-left: 20px;
}

.footer-container-desc a {
  text-decoration: none;
  text-decoration: #C69C6D;
}

.footer-container-desc a span {
  color: #DC7B13;
}

.footer-container-desc a span:hover {
  color: #ff9c32;
}

.clear-fix::after {
  content: "";
  display: block;
  clear: both;
}

@media (min-width: 768px) {
  .footer {
    text-align: left;
  }
  .footer .container {
    flex-wrap: nowrap;
  }
  .about-us {
    width: 318px;
  }
  .quick-links {
    width: initial;
  }
  .find-us {
    display: block;
  }
  .column {
    float: left;
  }
}
